In [1]:
from pathlib import Path
import os
import sys
import csv
import pandas as pd
import numpy as np

# Basic paths

In [3]:
df9 = pd.read_csv("/Users/serenekim/Desktop/Thesis_SeorinKim/MasterThesis_Seorin_Kim/data/ess9.csv")
df = pd.read_csv("/Users/serenekim/Desktop/Thesis_SeorinKim/MasterThesis_Seorin_Kim/data/ess.csv")
# df9.head(5)
df9.head(5)

,name,essround,edition,proddate,idno,cntry,dweight,pspwght,pweight,anweight,...,inwdde,inwmme,inwyye,inwehh,inwemm,inwtm,domain,prob,stratum,psu
0,ESS9e03_1,9,3.1,17.02.2021,12,BE,1.014012,1.224265,0.535634,0.655757,...,21,10,2018,14,48,85.0,NaN,0.000337,106,2058
1,ESS9e03_1,9,3.1,17.02.2021,81,BE,1.002777,1.109251,0.535634,0.594152,...,9,10,2018,17,50,43.0,NaN,0.000341,115,2185
2,ESS9e03_1,9,3.1,17.02.2021,96,BE,1.002778,1.046839,0.535634,0.560723,...,12,1,2019,17,26,106.0,NaN,0.000341,115,2182
3,ESS9e03_1,9,3.1,17.02.2021,169,BE,1.014012,1.003064,0.535634,0.537275,...,21,10,2018,12,52,44.0,NaN,0.000337,106,2058
4,ESS9e03_1,9,3.1,17.02.2021,170,BE,1.012005,0.829452,0.535634,0.444282,...,15,10,2018,10,52,63.0,NaN,0.000337,113,2127

In [4]:
df9.columns.values

array(['name', 'essround', 'edition', 'proddate', 'idno', 'cntry',
       'dweight', 'pspwght', 'pweight', 'anweight', 'nwspol', 'netusoft',
       'netustm', 'ppltrst', 'pplfair', 'pplhlp', 'polintr', 'psppsgva',
       'actrolga', 'psppipla', 'cptppola', 'trstprl', 'trstlgl',
       'trstplc', 'trstplt', 'trstprt', 'trstep', 'trstun', 'vote',
       'prtvtcat', 'prtvtdbe', 'prtvtdbg', 'prtvtgch', 'prtvtbcy',
       'prtvtecz', 'prtvede1', 'prtvede2', 'prtvtddk', 'prtvtgee',
       'prtvtees', 'prtvtdfi', 'prtvtdfr', 'prtvtcgb', 'prtvtahr',
       'prtvtfhu', 'prtvtcie', 'prtvtcis', 'prtvtcit', 'prtvblt1',
       'prtvblt2', 'prtvblt3', 'prtvtalv', 'prtvtme', 'prtvtgnl',
       'prtvtbno', 'prtvtdpl', 'prtvtcpt', 'prtvtrs', 'prtvtcse',
       'prtvtfsi', 'prtvtdsk', 'contplt', 'wrkprty', 'wrkorg', 'badge',
       'sgnptit', 'pbldmn', 'bctprd', 'pstplonl', 'clsprty', 'prtcldat',
       'prtcldbe', 'prtcldbg', 'prtclgch', 'prtclbcy', 'prtclecz',
       'prtclede', 'prtclddk', 'prtclgee', 'prtclfes', 'prtclefi',
       'prtclffr', 'prtclcgb', 'prtclahr', 'prtclghu', 'prtcleie',
       'prtclcis', 'prtcldit', 'prtclblt', 'prtclalv', 'prtclme',
       'prtclfnl', 'prtclbno', 'prtclhpl', 'prtclept', 'prtclrs',
       'prtclcse', 'prtclfsi', 'prtcldsk', 'prtdgcl', 'lrscale',
       'stflife', 'stfeco', 'stfgov', 'stfdem', 'stfedu', 'stfhlth',
       'gincdif', 'freehms', 'hmsfmlsh', 'hmsacld', 'euftf', 'imsmetn',
       'imdfetn', 'impcntr', 'imbgeco', 'imueclt', 'imwbcnt', 'happy',
       'sclmeet', 'inprdsc', 'sclact', 'crmvct', 'aesfdrk', 'health',
       'hlthhmp', 'atchctr', 'atcherp', 'rlgblg', 'rlgdnm', 'rlgdnbat',
       'rlgdnbe', 'rlgdnach', 'rlgdncy', 'rlgdnade', 'rlgdnafi',
       'rlgdngb', 'rlgdnhu', 'rlgdnie', 'rlgdnais', 'rlgdnlt', 'rlgdnlv',
       'rlgdme', 'rlgdnnl', 'rlgdnno', 'rlgdnapl', 'rlgdnrs', 'rlgdnase',
       'rlgdnask', 'rlgblge', 'rlgdnme', 'rlgdebat', 'rlgdebe',
       'rlgdeach', 'rlgdecy', 'rlgdeade', 'rlgdeafi', 'rlgdegb',
       'rlgdehu', 'rlgdeie', 'rlgdeais', 'rlgdelt', 'rlgdelv', 'rlgdeme',
       'rlgdenl', 'rlgdeno', 'rlgdeapl', 'rlgders', 'rlgdease',
       'rlgdeask', 'rlgdgr', 'rlgatnd', 'pray', 'dscrgrp', 'dscrrce',
       'dscrntn', 'dscrrlg', 'dscrlng', 'dscretn', 'dscrage', 'dscrgnd',
       'dscrsex', 'dscrdsb', 'dscroth', 'dscrdk', 'dscrref', 'dscrnap',
       'dscrna', 'ctzcntr', 'ctzshipd', 'brncntr', 'cntbrthd', 'livecnta',
       'lnghom1', 'lnghom2', 'blgetmg', 'facntr', 'fbrncntc', 'mocntr',
       'mbrncntc', 'admdw', 'vteurmmb', 'vteumbgb', 'vteubcmb', 'evpdemp',
       'pdempyr', 'lvpntyr', 'evlvptn', 'lvptnyr', 'evmar', 'maryr',
       'bthcld', 'nbthcld', 'fcldbrn', 'ycldbyr', 'ngchld', 'ygcdbyr',
       'ggchld', 'admge', 'ageadlt', 'agemage', 'ageoage', 'iaglptn',
       'iagmr', 'iagpnt', 'iagrtr', 'tygledu', 'tyglvp', 'tygmr',
       'tygpnt', 'tygrtr', 'tolvpnt', 'tochld', 'towkht', 'anvcld',
       'alvgptn', 'acldnmr', 'aftjbyc', 'advcyc', 'plnftr', 'hhmmb',
       'gndr', 'gndr2', 'gndr3', 'gndr4', 'gndr5', 'gndr6', 'gndr7',
       'gndr8', 'gndr9', 'gndr10', 'gndr11', 'gndr12', 'gndr13', 'gndr14',
       'gndr15', 'yrbrn', 'agea', 'yrbrn2', 'yrbrn3', 'yrbrn4', 'yrbrn5',
       'yrbrn6', 'yrbrn7', 'yrbrn8', 'yrbrn9', 'yrbrn10', 'yrbrn11',
       'yrbrn12', 'yrbrn13', 'yrbrn14', 'yrbrn15', 'rshipa2', 'rshipa3',
       'rshipa4', 'rshipa5', 'rshipa6', 'rshipa7', 'rshipa8', 'rshipa9',
       'rshipa10', 'rshipa11', 'rshipa12', 'rshipa13', 'rshipa14',
       'rshipa15', 'rshpsts', 'rshpsgb', 'lvgptnea', 'dvrcdeva', 'marsts',
       'marstgb', 'maritalb', 'chldhhe', 'domicil', 'eisced', 'edulvlb',
       'edlveat', 'edlvebe', 'edlvebg', 'edlvdch', 'edlvgcy', 'edlvdcz',
       'edubde1', 'eduade2', 'eduade3', 'edlvddk', 'edlvdee', 'edlvges',
       'edlvdfi', 'edlvdfr', 'educgb1', 'edubgb2', 'edagegb', 'edlvehr',
       'edlvdhu', 'edlvdie', 'edlvdis', 'edlveit', 'edlvdlt', 'edlvdlv',
       'edlvdme', 'edlvenl', 'edlvdno', 'edlvgpl', 'edlvdpt', 'edlvdrs',
       'edlvdse', 'edlvesi', 'edlvdsk', 'eduyrs', 'pdwrk', 'edctn',
       'uempla', 'uempli', 'dsbld', 'rtrd', 'cmsrv', 'hswrk', 'dngoth',
       'dngref', 'dngdk', 'dngna', 'mainact', 'mnactic', 'crpdwk',
       'pdjobev', 'pdjobyr', 'emplrel', 'emplno', 'wrkctra', 'estsz',
       'jbspv', 'njbspv', 'wkdcorga', 'iorgact', 'wkhct', 'icwhct',
       'wkhtot', 'nacer2', 'tporgwk', 'isco08', 'wrkac6m', 'uemp3m',
       'uemp12m', 'uemp5yr', 'mbtru', 'hincsrca', 'hinctnta', 'hincfel',
       'iincsrc', 'eiscedp', 'edulvlpb', 'edlvpeat', 'edlvpebe',
       'edlvpebg', 'edlvpdch', 'edlvpgcy', 'edlvpdcz', 'edupbde1',
       'edupade2', 'edupade3', 'edlvpddk', 'edlvpdee', 'edlvpfes',
       'edlvpdfi', 'edlvpdfr', 'edupcgb1', 'edupbgb2', 'edagepgb',
       'edlvpehr', 'edlvpdhu', 'edlvpdie', 'edlvpdis', 'edlvpeit',
       'edlvpdlt', 'edlvpdlv', 'edlvpdme', 'edlvpenl', 'edlvpdno',
       'edlvpfpl', 'edlvpdpt', 'edlvpdrs', 'edlvpdse', 'edlvpesi',
       'edlvpdsk', 'pdwrkp', 'edctnp', 'uemplap', 'uemplip', 'dsbldp',
       'rtrdp', 'cmsrvp', 'hswrkp', 'dngothp', 'dngdkp', 'dngnapp',
       'dngrefp', 'dngnap', 'mnactp', 'crpdwkp', 'isco08p', 'emprelp',
       'wkhtotp', 'eiscedf', 'edulvlfb', 'edlvfeat', 'edlvfebe',
       'edlvfebg', 'edlvfdch', 'edlvfgcy', 'edlvfdcz', 'edufbde1',
       'edufade2', 'edufade3', 'edlvfddk', 'edlvfdee', 'edlvffes',
       'edlvfdfi', 'edlvfdfr', 'edufcgb1', 'edufbgb2', 'edagefgb',
       'edlvfehr', 'edlvfdhu', 'edlvfdie', 'edlvfdis', 'edlvfeit',
       'edlvfdlt', 'edlvfdlv', 'edlvfdme', 'edlvfenl', 'edlvfdno',
       'edlvffpl', 'edlvfdpt', 'edlvfdrs', 'edlvfdse', 'edlvfesi',
       'edlvfdsk', 'emprf14', 'occf14b', 'eiscedm', 'edulvlmb',
       'edlvmeat', 'edlvmebe', 'edlvmebg', 'edlvmdch', 'edlvmgcy',
       'edlvmdcz', 'edumbde1', 'edumade2', 'edumade3', 'edlvmddk',
       'edlvmdee', 'edlvmfes', 'edlvmdfi', 'edlvmdfr', 'edumcgb1',
       'edumbgb2', 'edagemgb', 'edlvmehr', 'edlvmdhu', 'edlvmdie',
       'edlvmdis', 'edlvmeit', 'edlvmdlt', 'edlvmdlv', 'edlvmdme',
       'edlvmenl', 'edlvmdno', 'edlvmfpl', 'edlvmdpt', 'edlvmdrs',
       'edlvmdse', 'edlvmesi', 'edlvmdsk', 'emprm14', 'occm14b',
       'atncrse', 'anctry1', 'anctry2', 'region', 'regunit', 'frprtpl',
       'gvintcz', 'poltran', 'ifredu', 'ifrjob', 'evfredu', 'evfrjob',
       'fvgabc', 'infqbst', 'grspnum', 'grsplet', 'netinum', 'netilet',
       'grspfr', 'netifr', 'frlgrsp', 'frlneti', 'occinfr', 'topinfr',
       'btminfr', 'wltdffr', 'recskil', 'recexp', 'recknow', 'recimg',
       'recgndr', 'sofrdst', 'sofrwrk', 'sofrpr', 'sofrprv', 'ppldsrv',
       'jstprev', 'pcmpinj', 'ipcrtiv', 'imprich', 'ipeqopt', 'ipshabt',
       'impsafe', 'impdiff', 'ipfrule', 'ipudrst', 'ipmodst', 'ipgdtim',
       'impfree', 'iphlppl', 'ipsuces', 'ipstrgv', 'ipadvnt', 'ipbhprp',
       'iprspot', 'iplylfr', 'impenv', 'imptrad', 'impfun', 'inwdds',
       'inwmms', 'inwyys', 'inwshh', 'inwsmm', 'inwdde', 'inwmme',
       'inwyye', 'inwehh', 'inwemm', 'inwtm', 'domain', 'prob', 'stratum',
       'psu'], dtype=object)

## Sex Ratio (ESS9)

In [5]:
bins = [15, 19, 29, 39, 49, 59, 69, 120]
labels = ['15-19','20-29', '30-39', '40-49', '50-59', '60-69', '70+']
df9['agerange'] = pd.cut(df9.agea, bins, labels = labels,include_lowest = True)
# df9.loc[df9['agea'] == 90, ['agerange', 'agea']]

In [16]:
sexratio = df9[['agerange', 'gndr']]
# agea: 999 Not available
# gndr: 1 Male 2 Female 9 No answer
sexratio = pd.crosstab(sexratio['agerange'], sexratio['gndr'], rownames=['age'], colnames = ['gender'])
sexratio = sexratio.reset_index(level=0)
sexratio #under gndr are indices
# with AGEA instead of AGERANGE is too restrictive. some '0' results in either 0 or inf sex ratios.

gender    age    1    2
0       15-19   58   63
1       20-29  132  130
2       30-39  126  146
3       40-49  135  126
4       50-59  153  164
5       60-69  141  137
6         70+  123  132

In [18]:
sexratio['ratio'] = sexratio[1]/sexratio[2]
sexratio['totalN'] = sexratio[1]+sexratio[2]
sexratio

gender    age    1    2     ratio  totalN
0       15-19   58   63  0.920635     121
1       20-29  132  130  1.015385     262
2       30-39  126  146  0.863014     272
3       40-49  135  126  1.071429     261
4       50-59  153  164  0.932927     317
5       60-69  141  137  1.029197     278
6         70+  123  132  0.931818     255

## Educational Distribution (ESS9)

Value	Category </br>
* 0	Not possible to harmonise into ES-ISCED 
* 1	ES-ISCED I , less than lower secondary 
* 2	ES-ISCED II, lower secondary
* 3	ES-ISCED IIIb, lower tier upper secondary
* 4	ES-ISCED IIIa, upper tier upper secondary
* 5	ES-ISCED IV, advanced vocational, sub-degree
* 6	ES-ISCED V1, lower tertiary education, BA level
* 7	ES-ISCED V2, higher tertiary education, >= MA level
* 55	Other
* 77	Refusal*
* 88	Don't know*
* 99	No answer*

ISCED used in the model
* 0: less than primary (ISCED 0) --> EISCED 0 (but none in the data)
* 1: primary (ISCED 1) --> EISCED 1
* 2: lower secondary (ISCED 2) --> EISCED 2 
* 3: upper secondary or postsecondary non-tertiary (ISCED 3â€“4) --> EISCED 3-4
* 4: tertiary (ISCED 5â€“8) --> EISCED 5-7

In [6]:
df9['eisced'].unique()

array([ 4,  6,  1,  3,  7,  2,  5, 88, 55])

In [7]:
df9['isced'] = df9['eisced']
df9['isced'].unique()

array([ 4,  6,  1,  3,  7,  2,  5, 88, 55])

In [8]:
df9['isced'] = df9['eisced'].apply(lambda x: 3 if x == 3 and x == 4 else x )
df9['isced'].unique()

array([ 4,  6,  1,  3,  7,  2,  5, 88, 55])

In [9]:
pd.crosstab(df9['eisced'], df9['agea'])

agea,15,16,17,18,19,20,21,22,23,24,...,82,83,84,85,86,87,88,89,90,999
eisced,,,,,,,,,,,,,,,,,,,,,
1,6,7,6,3,3,0,3,0,3,0,...,2,1,3,1,2,1,0,1,8,0
2,6,16,20,9,7,2,4,4,0,1,...,3,3,0,3,4,2,0,3,4,0
3,0,1,1,0,1,2,2,1,0,1,...,0,1,2,0,0,0,0,0,0,0
4,0,1,1,15,12,18,12,10,7,7,...,0,2,3,1,0,1,1,1,2,0
5,0,0,0,0,4,1,1,6,8,5,...,1,0,0,0,3,0,0,0,0,0
6,0,0,0,0,1,0,2,7,3,10,...,0,1,0,0,0,0,1,0,1,0
7,0,0,0,0,0,0,0,1,4,2,...,0,1,2,0,1,1,0,1,2,1
55,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [11]:
edu_dist = pd.crosstab(df9['eisced'], df9['agerange'])
edu_dist = edu_dist.reset_index(level=0)
edu_dist

agerange  eisced  15-19  20-29  30-39  40-49  50-59  60-69  70+
0              1     25      7      6      9     29     28   65
1              2     58     24     24     28     53     63   60
2              3      3     14     14     29     22     22   13
3              4     29     80     45     51     67     58   54
4              5      4     45     40     26     19     14    9
5              6      1     58     75     69     78     62   25
6              7      0     34     67     48     48     31   27
7             55      1      0      1      0      1      0    1
8             88      0      0      0      1      0      0    1

In [49]:
print(np.round([edu_dist.iloc[0, 3]/edu_dist.iloc[:,3].sum(),
     edu_dist.iloc[1, 3]/edu_dist.iloc[:,3].sum(),
       (edu_dist.iloc[2, 3] + edu_dist.iloc[3,3])/edu_dist.iloc[:,3].sum(),
       (edu_dist.iloc[4, 3] + edu_dist.iloc[5, 3])/edu_dist.iloc[:,3].sum(),
        edu_dist.iloc[6, 3] / edu_dist.iloc[:,3].sum()
      ], 2))
print(np.round([edu_dist.iloc[0, 4]/edu_dist.iloc[:,4].sum(),
     edu_dist.iloc[1, 4]/edu_dist.iloc[:,4].sum(),
       (edu_dist.iloc[2, 4] + edu_dist.iloc[3,4])/edu_dist.iloc[:,4].sum(),
       (edu_dist.iloc[4, 4] + edu_dist.iloc[5, 4])/edu_dist.iloc[:,4].sum(), 
        edu_dist.iloc[6, 4] / edu_dist.iloc[:,4].sum()
      ], 2)) 
print(np.round([edu_dist.iloc[0, 5]/edu_dist.iloc[:,5].sum(),
     edu_dist.iloc[1, 5]/edu_dist.iloc[:,5].sum(),
       (edu_dist.iloc[2, 5] + edu_dist.iloc[3,5])/edu_dist.iloc[:,5].sum(),
       (edu_dist.iloc[4, 5] + edu_dist.iloc[5, 5])/edu_dist.iloc[:,5].sum(),
        edu_dist.iloc[6, 5] / edu_dist.iloc[:,5].sum()
      ], 2))
print(np.round([edu_dist.iloc[0, 6]/edu_dist.iloc[:,6].sum(),
     edu_dist.iloc[1, 6]/edu_dist.iloc[:,6].sum(),
       (edu_dist.iloc[2, 6] + edu_dist.iloc[3,6])/edu_dist.iloc[:,6].sum(),
       (edu_dist.iloc[4, 6] + edu_dist.iloc[5, 6])/edu_dist.iloc[:,6].sum(),
        edu_dist.iloc[6, 6] / edu_dist.iloc[:,6].sum()
      ], 2))
print(np.round([edu_dist.iloc[0, 7]/edu_dist.iloc[:,7].sum(),
     edu_dist.iloc[1, 7]/edu_dist.iloc[:,7].sum(),
       (edu_dist.iloc[2, 7] + edu_dist.iloc[3,7])/edu_dist.iloc[:,7].sum(),
       (edu_dist.iloc[4, 7] + edu_dist.iloc[5,7])/edu_dist.iloc[:,7].sum(),
        edu_dist.iloc[6, 7] / edu_dist.iloc[:,7].sum()
      ], 2))

[0.04 0.09 0.29 0.33 0.25]
[0.03 0.11 0.32 0.33 0.21]
[0.09 0.17 0.29 0.27 0.17]
[0.11 0.2  0.29 0.23 0.17]
[0.2  0.2  0.28 0.11 0.2 ]

### Female Edu

In [52]:
df_f = df9[df9['gndr'] == 2].copy()
edu_dist = pd.crosstab(df_f['eisced'], df_f['agerange'])
edu_dist = edu_dist.reset_index(level=0)
edu_dist

agerange  eisced  15-19  20-29  30-39  40-49  50-59  60-69  70+
0              1     12      3      1      5     15     12   40
1              2     29     11     13     13     27     35   36
2              3      2      4      4     15     13     13   10
3              4     17     37     18     22     32     26   23
4              5      2     23     18     11      7      8    4
5              6      1     35     55     39     48     36   16
6              7      0     17     36     20     22      7    2
7             55      0      0      1      0      0      0    0
8             88      0      0      0      1      0      0    1

In [53]:
print(np.round([edu_dist.iloc[0, 3]/edu_dist.iloc[:,3].sum(),
     edu_dist.iloc[1, 3]/edu_dist.iloc[:,3].sum(),
       (edu_dist.iloc[2, 3] + edu_dist.iloc[3,3])/edu_dist.iloc[:,3].sum(),
       (edu_dist.iloc[4, 3] + edu_dist.iloc[5, 3])/edu_dist.iloc[:,3].sum(),
        edu_dist.iloc[6, 3] / edu_dist.iloc[:,3].sum()
      ], 2))
print(np.round([edu_dist.iloc[0, 4]/edu_dist.iloc[:,4].sum(),
     edu_dist.iloc[1, 4]/edu_dist.iloc[:,4].sum(),
       (edu_dist.iloc[2, 4] + edu_dist.iloc[3,4])/edu_dist.iloc[:,4].sum(),
       (edu_dist.iloc[4, 4] + edu_dist.iloc[5, 4])/edu_dist.iloc[:,4].sum(), 
        edu_dist.iloc[6, 4] / edu_dist.iloc[:,4].sum()
      ], 2)) 
print(np.round([edu_dist.iloc[0, 5]/edu_dist.iloc[:,5].sum(),
     edu_dist.iloc[1, 5]/edu_dist.iloc[:,5].sum(),
       (edu_dist.iloc[2, 5] + edu_dist.iloc[3,5])/edu_dist.iloc[:,5].sum(),
       (edu_dist.iloc[4, 5] + edu_dist.iloc[5, 5])/edu_dist.iloc[:,5].sum(),
        edu_dist.iloc[6, 5] / edu_dist.iloc[:,5].sum()
      ], 2))
print(np.round([edu_dist.iloc[0, 6]/edu_dist.iloc[:,6].sum(),
     edu_dist.iloc[1, 6]/edu_dist.iloc[:,6].sum(),
       (edu_dist.iloc[2, 6] + edu_dist.iloc[3,6])/edu_dist.iloc[:,6].sum(),
       (edu_dist.iloc[4, 6] + edu_dist.iloc[5, 6])/edu_dist.iloc[:,6].sum(),
        edu_dist.iloc[6, 6] / edu_dist.iloc[:,6].sum()
      ], 2))
print(np.round([edu_dist.iloc[0, 7]/edu_dist.iloc[:,7].sum(),
     edu_dist.iloc[1, 7]/edu_dist.iloc[:,7].sum(),
       (edu_dist.iloc[2, 7] + edu_dist.iloc[3,7])/edu_dist.iloc[:,7].sum(),
       (edu_dist.iloc[4, 7] + edu_dist.iloc[5,7])/edu_dist.iloc[:,7].sum(),
        edu_dist.iloc[6, 7] / edu_dist.iloc[:,7].sum()
      ], 2))

[0.01 0.09 0.15 0.5  0.25]
[0.04 0.1  0.29 0.4  0.16]
[0.09 0.16 0.27 0.34 0.13]
[0.09 0.26 0.28 0.32 0.05]
[0.3  0.27 0.25 0.15 0.02]

### Male Edu

In [54]:
df_m = df9[df9['gndr'] == 1].copy()
edu_dist = pd.crosstab(df_m['eisced'], df_m['agerange'])
edu_dist = edu_dist.reset_index(level=0)
edu_dist

agerange  eisced  15-19  20-29  30-39  40-49  50-59  60-69  70+
0              1     13      4      5      4     14     16   25
1              2     29     13     11     15     26     28   24
2              3      1     10     10     14      9      9    3
3              4     12     43     27     29     35     32   31
4              5      2     22     22     15     12      6    5
5              6      0     23     20     30     30     26    9
6              7      0     17     31     28     26     24   25
7             55      1      0      0      0      1      0    1

In [55]:
print(np.round([edu_dist.iloc[0, 3]/edu_dist.iloc[:,3].sum(),
     edu_dist.iloc[1, 3]/edu_dist.iloc[:,3].sum(),
       (edu_dist.iloc[2, 3] + edu_dist.iloc[3,3])/edu_dist.iloc[:,3].sum(),
       (edu_dist.iloc[4, 3] + edu_dist.iloc[5, 3])/edu_dist.iloc[:,3].sum(),
        edu_dist.iloc[6, 3] / edu_dist.iloc[:,3].sum()
      ], 2))
print(np.round([edu_dist.iloc[0, 4]/edu_dist.iloc[:,4].sum(),
     edu_dist.iloc[1, 4]/edu_dist.iloc[:,4].sum(),
       (edu_dist.iloc[2, 4] + edu_dist.iloc[3,4])/edu_dist.iloc[:,4].sum(),
       (edu_dist.iloc[4, 4] + edu_dist.iloc[5, 4])/edu_dist.iloc[:,4].sum(), 
        edu_dist.iloc[6, 4] / edu_dist.iloc[:,4].sum()
      ], 2)) 
print(np.round([edu_dist.iloc[0, 5]/edu_dist.iloc[:,5].sum(),
     edu_dist.iloc[1, 5]/edu_dist.iloc[:,5].sum(),
       (edu_dist.iloc[2, 5] + edu_dist.iloc[3,5])/edu_dist.iloc[:,5].sum(),
       (edu_dist.iloc[4, 5] + edu_dist.iloc[5, 5])/edu_dist.iloc[:,5].sum(),
        edu_dist.iloc[6, 5] / edu_dist.iloc[:,5].sum()
      ], 2))
print(np.round([edu_dist.iloc[0, 6]/edu_dist.iloc[:,6].sum(),
     edu_dist.iloc[1, 6]/edu_dist.iloc[:,6].sum(),
       (edu_dist.iloc[2, 6] + edu_dist.iloc[3,6])/edu_dist.iloc[:,6].sum(),
       (edu_dist.iloc[4, 6] + edu_dist.iloc[5, 6])/edu_dist.iloc[:,6].sum(),
        edu_dist.iloc[6, 6] / edu_dist.iloc[:,6].sum()
      ], 2))
print(np.round([edu_dist.iloc[0, 7]/edu_dist.iloc[:,7].sum(),
     edu_dist.iloc[1, 7]/edu_dist.iloc[:,7].sum(),
       (edu_dist.iloc[2, 7] + edu_dist.iloc[3,7])/edu_dist.iloc[:,7].sum(),
       (edu_dist.iloc[4, 7] + edu_dist.iloc[5,7])/edu_dist.iloc[:,7].sum(),
        edu_dist.iloc[6, 7] / edu_dist.iloc[:,7].sum()
      ], 2))

[0.04 0.09 0.29 0.33 0.25]
[0.03 0.11 0.32 0.33 0.21]
[0.09 0.17 0.29 0.27 0.17]
[0.11 0.2  0.29 0.23 0.17]
[0.2  0.2  0.28 0.11 0.2 ]

In [7]:
df9['eduyrs'].unique()
# Value	Category
# 77	Refusal*
# 88	Don't know*
# 99	No answer*
#  *) Missing Value

array([20, 17,  6, 16, 12, 15, 10, 23,  7, 13, 11, 14,  9, 24,  8, 18,  1,
       19,  5, 22,  3, 21, 25, 88, 29,  4, 77, 26, 37, 30,  2])